<div class="box">
	<div class="box-header">
		<h3 class="box-title"><%= t('semester_management') %></h3>
	</div>
	<!-- /.box-header -->
	<% if can? :create, Semester %>
		<div class="box-body">
		<table class="table text-center">
			<tr>
				<th>
					<%= button_to t('New_record'), new_semester_path, method: :get %>
				</th>
			</tr>
		</table>
	</div>
	<% end # if can? :create, Semester %>


	<div class="box-body">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th><%=t('index_html')%></th>
					<th><%=t('semester_code')%></th>
					<th><%=t('semester_sdate')%></th>
					<th><%=t('semester_edate')%></th>
					<th><%=t('remaining_days')%></th>
					<th><%=t('Operations')%></th>
				</tr>
			</thead>

			<tbody>
			<% @semesters.each_with_index do |semester,i| %>
				<tr>
				<td><%= i+1 %></td>
				<td><%= semester.code %></td>
				<td><%= semester.s_date %></td>
				<td><%= semester.e_date %></td>
				<td><%= (semester.e_date - DateTime.now).to_i %></td>
				<td>
					<% if can? :show, semester %>
						<%= link_to t('Show'), semester %> | 
				<% end %>
					<% if can? :edit, semester %>
						<%= link_to t('Edit'), edit_semester_path(semester) %> | 
				<% end %>
					<% if can? :del, semester %>
						<%= link_to t('Del'), semester, method: :delete, data: { confirm: t('del_confirm') } %>
				<% end %>
				</td>
			</tr>
		<% end %>
			</tbody>

			<tfoot>
				<tr>
					<th><i class="fa fa-list"></i></th>
					<th><%=t('semester_code')%></th>
					<th><%=t('semester_sdate')%></th>
					<th><%=t('semester_edate')%></th>
					<th><%=t('remaining_days')%></th>
					<th><%=t('Operations')%></th>
				</tr>
			</tfoot>
		</table>
	</div>
	<!-- /.box-body -->

	<% if can? :create, Semester %>
		<div class="box-body">
		<table class="table text-center">
			<tr>
				<th>
					<%= button_to t('New_record'), new_semester_path, method: :get %>
				</th>
			</tr>
		</table>
	</div>
	<% end # if can? :create, Semester %>


</div>
<!-- /.box -->

