
<section class="content">
	<!-- final column -->
	<div class="col-md-12">
		<!-- general form elements -->
		<%= form_tag imported_cscores_path, multipart: true do %>
			<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title"><%= t('cscores_management')%></h3>
			</div>
			<!-- /.box-header -->

			<% if can? :create, :cscore %>

				<div class="box-body table-responsive ">
				<div class="form-group">
					<table class="table text-center">
						<tr>
							<td>
								<%= t("select_import_file")%>:
							</td>
							<td>
								<%= file_field_tag :file, required: true %>
							</td>
							<td>
								<%= submit_tag t("Import") %>
							<% end %>
							</td>
						</tr>
					</table>
				</div>
			</div>

			<% end # if can? :create, :cscore %>

		</div>
	</div>

	<!-- final column -->
	<div class="col-md-12">
		<!-- general form elements -->
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title"><%= t('csv_example')%></h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body table-responsive ">
				<div class="form-group">
					<table class="table text-center">
						<tr>
							<td>ccode</td>
							<td>att</td>
							<td>homework</td>
							<td>project</td>
							<td>report</td>
							<td>mid</td>
							<td>fin</td>
							<td>quiz</td>
							<td>other</td>
						</tr>
						<tr>
							<td>201603AR015</td>
							<td>5</td>
							<td>10</td>
							<td>15</td>
							<td>20</td>
							<td>20</td>
							<td>30</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>201603TM003</td>
							<td>5</td>
							<td>10</td>
							<td>15</td>
							<td>20</td>
							<td>20</td>
							<td>30</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>201603IB001</td>
							<td>5</td>
							<td>10</td>
							<td>15</td>
							<td>20</td>
							<td>20</td>
							<td>30</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>201603AC001</td>
							<td>5</td>
							<td>10</td>
							<td>15</td>
							<td>20</td>
							<td>20</td>
							<td>30</td>
							<td>0</td>
							<td>0</td>
						</tr>
						<tr>
							<td>.<br>.<br>.</td>
							<td>.<br>.<br>.</td>
							<td>.<br>.<br>.</td>
							<td>.<br>.<br>.</td>
							<td>.<br>.<br>.</td>
							<td>.<br>.<br>.</td>
							<td>.<br>.<br>.</td>
							<td>.<br>.<br>.</td>
							<td>.<br>.<br>.</td>
						</tr>
						<tr>
							<td><%= t('class_code') %></td>
							<td><%= t('catt') %></td>
							<td><%= t('chomework') %></td>
							<td><%= t('cproject') %></td>
							<td><%= t('creport') %></td>
							<td><%= t('cmid') %></td>
							<td><%= t('cfin') %></td>
							<td><%= t('cquiz') %></td>
							<td><%= t('cother') %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<ul>
			<li/>Microsoft Office Excel, Open Office Calc 及 Google Docs 等均支持另存为 CSV 文件.
			<li/>请保持第一行的栏位和内容固定不变(包括字母大小写)，最后一行为各栏位的数据说明无需添加进文件中.
			<li/>与成绩相关的栏位只允许输入整数.
		</ul>
	</div>


	<!-- final column -->
	<div class="col-md-12">
		<!-- general form elements -->
		<div class="box box-primary">
			<div class="box-header with-border">
			</div>
			<!-- /.box-header -->
			<div class="box-body table-responsive ">
				<div class="form-group">
					<table class="table text-center">
						<tr>
							<td>
								<%= button_to t('cschedules_management'), cschedules_path, method: "get" %>
							</td>

							<td>
								<%= button_to t('back_landing'), root_path, method: "get" %>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- end column  -->

</section>
