<h3><%= t('cscores_management') %> - <%= t('Show_record') %></h3>

<p id="notice"><%= notice %></p>

<section class="content">
	<div class="row">

		<!-- column -->
		<div class="col-md-12">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title"><%= t('cscores_management')%></h3>
				</div>
				<!-- /.box-header -->

				<!-- form start -->
				<div class="box-body">
					<div class="form-group">
						<%= t('class_code') %> :
						<%= @cschedule.code %>
					</div>

					<div class="form-group">
						<%= t('cterm_code') %> :
						<%= @cschedule.term_code %>
					</div>

					<div class="form-group">
						<%= t('cc_code') %> :
						<%= @cschedule.c_code %>
					</div>

					<div class="form-group">
						<%= t('clecturer') %> :
						<%= @cschedule.lecturer %>
					</div>

				</div>
				<!-- form end -->
			</div>
		</div>
		<!-- column end -->


		<!-- final column -->
		<div class="col-md-12">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title"><%= t('ccredit')%></h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="form-group">
						<%= t('ccredit')%> :
						<%= @cschedule.credit %>
					</div>
				</div>
			</div>
		</div>
		<!-- final column end -->



		<!-- column -->
		<div class="col-md-6">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title"><%= t('cscore_scores_ac')%></h3>
				</div>
				<!-- /.box-header -->

				<!-- form start -->
				<div class="box-body">
					<div class="form-group">
						<%= t('catt') %> :
						<%= @cscore.att rescue nil %>
					</div>

					<div class="form-group">
						<%= t('chomework') %> :
						<%= @cscore.homework rescue nil %>
					</div>

					<div class="form-group">
						<%= t('cproject') %> :
						<%= @cscore.project rescue nil  %>
					</div>

					<div class="form-group">
						<%= t('creport') %> :
						<%= @cscore.report rescue nil  %>
					</div>

				</div>
				<!-- form end -->

			</div>
		</div>
		<!-- column end -->


		<!-- column -->
		<div class="col-md-6">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title"><%= t('cscore_scores_exam')%></h3>
				</div>
				<!-- /.box-header -->

				<!-- form start -->
				<div class="box-body">
					<div class="form-group">
						<%= t('cquiz') %> :
						<%= @cscore.quiz rescue nil  %>
					</div>

					<div class="form-group">
						<%= t('cmid') %> :
						<%= @cscore.mid rescue nil  %>
					</div>

					<div class="form-group">
						<%= t('cfin') %> :
						<%= @cscore.fin rescue nil  %>
					</div>

					<div class="form-group">
						<%= t('cother') %> :
						<%= @cscore.other rescue nil  %>
					</div>

				</div>
				<!-- form end -->

			</div>
		</div>
		<!-- column end -->


		<!-- final column -->
		<div class="col-md-12">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title"><%= t('Remark')%></h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="form-group">
						<%= @cscore.remark %>
					</div>
				</div>
			</div>
		</div>
		<!-- final column end -->




		<!-- final column -->
		<div class="col-md-12">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title"><%= t('Operations')%></h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="form-group">
						<table class="table text-center">
							<tr>
								<td>
									<%= button_to t('Edit'), edit_cscore_path(@cscore), method: "get" %>
								</td>

								<td>
									<%= button_to t('cscores_management'), cscores_path, method: "get" %>
								</td>
								<td>
									<%= button_to t('back_landing'), root_path, method: "get" %>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- final column end -->


	</div>

</div><!-- end class row -->
	</section>

