
<!-- /.login-logo -->
<div class="login-box-body">
	<p class="login-box-msg">Sign Up</p>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

		<%= devise_error_messages! %>

	<div class="form-group has-feedback">
		<%= f.text_field :code, autofocus: true, placeholder: "Code", class: "form-control" %>
		<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
		<br />
	</div>

	<div class="form-group has-feedback">
		<%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
		<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
		<br />
	</div>

	<div class="form-group has-feedback">
		<%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control" %>
		<span class="glyphicon glyphicon-lock form-control-feedback"></span>
		<% if @minimum_password_length %>
			<em>(<%= @minimum_password_length %> characters minimum)</em>
	<% end %>
		<br />
	</div>

	<div class="form-group has-feedback">
		<%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password", class: "form-control" %>
		<span class="glyphicon glyphicon-lock form-control-feedback"></span>
		<% if @minimum_password_length %>
			<em>(<%= @minimum_password_length %> characters minimum)</em>
	<% end %>
		<br />
	</div>

	<div class="row">
		<!-- /.col -->
		<div class="col-xs-4">
			<%= f.submit "Sign Up", class: "btn btn-primary btn-block btn-flat" %>
		</div>
		<!-- /.col -->
	</div>
</form>
<% end %>

<%#= render "devise/shared/links" %>

  </div>
  <!-- /.login-box-body -->
</div>

