<div class="box">
	<div class="box-header">
		<h3 class="box-title"><%= t('studentscores_management') %></h3>
	</div>
	<!-- /.box-header -->
	<% if can? :create, Studentscore %>
		<div class="box-body">
		<table class="table text-center">
			<tr>
				<th>
					<%= button_to t('New_record'), new_studentscore_path, method: :get %>
				</th>
				<th>
					<%= button_to t('Import_records'), import_studentscores_path, method: :get %>
				</th>
			</tr>
		</table>
	</div>
	<% end # if can? :create, Studentscore %>


	<div class="box-body">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th><%=t('index_html')%></th>
					<th><%=t('class_code')%></th>
					<th><%=t('student_code')%></th>
					<th><%=t('cmid')%></th>
					<th><%=t('cfin')%></th>
					<th><%=t('Operations')%></th>
				</tr>
			</thead>

			<tbody>
			<% @studentscores.each_with_index do |studentscore,i| %>
				<tr>
				<td><%= i+1 %></td>
				<td><%= studentscore.course_code %></td>
				<td><%= studentscore.student_code %></td>
				<td><%= studentscore.mid %></td>
				<td><%= studentscore.fin %></td>
				<td>
					<% if can? :show, studentscore %>
						<%= link_to t('Show'), studentscore %> | 
				<% end %>
					<% if can? :edit, studentscore %>
						<%= link_to t('Edit'), edit_studentscore_path(studentscore) %> | 
				<% end %>
					<% if can? :del, studentscore %>
						<%= link_to t('Del'), studentscore, method: :delete, data: { confirm: t('del_confirm') } %>
				<% end %>
				</td>
			</tr>
		<% end %>
			</tbody>

			<tfoot>
				<tr>
					<th><%=t('index_html')%></th>
					<th><%=t('class_code')%></th>
					<th><%=t('cmid')%></th>
					<th><%=t('cfin')%></th>
					<th><%=t('Operations')%></th>
				</tr>
			</tfoot>
		</table>
	</div>
	<!-- /.box-body -->

	<% if can? :create, Studentscore %>
		<div class="box-body">
		<table class="table text-center">
			<tr>
				<th>
					<%= button_to t('New_record'), new_studentscore_path, method: :get %>
				</th>
				<th>
					<%= button_to t('Import_records'), import_studentscores_path, method: :get %>
				</th>
			</tr>
		</table>
	</div>
	<% end # if can? :create, Studentscores %>


</div>
<!-- /.box -->

