
<section class="content">
	<!-- final column -->
	<div class="col-md-12">
		<!-- general form elements -->
		<%= form_tag imported_enrollcourses_path, multipart: true do %>
			<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title"><%= t('enrollcourses_management')%></h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div class="form-group">
					<table class="table text-center">
						<tr>
							<td>
								<%= t("select_import_file")%>:
							</td>
							<td>
								<%= file_field_tag :file, required: true %>
							</td>
							<td>
								<%= submit_tag t("Import") %>
							<% end %>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- final column -->
	<div class="col-md-12">
		<!-- general form elements -->
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title"><%= t('csv_example')%></h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div class="form-group">
					<table class="table text-center">
						<tr>
							<td>code</td>
							<td>ccode</td>
						</tr>
						<tr>
							<td>student002</td>
							<td>201603005</td>
						</tr>
						<tr>
							<td>student012</td>
							<td>201603032</td>
						</tr>
						<tr>
							<td>student042</td>
							<td>201603055</td>
						</tr>
						<tr>
							<td>student031</td>
							<td>201603015</td>
						</tr>
						<tr>
							<td>.<br>.<br>.</td>
							<td>.<br>.<br>.</td>
						</tr>
						<tr>
							<td><%= t('Code') %></td>
							<td><%= t('Ccode') %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<ul>
			<li/>Microsoft Office Excel, Open Office Calc 及 Google Docs 等均支持另存为 CSV 文件
			<li/>请保持第一行的栏位和内容固定不变(包括字母大小写)，最后一行为各栏位的数据说明无需添加进文件中
		</ul>
	</div>


	<!-- final column -->
	<div class="col-md-12">
		<!-- general form elements -->
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title"></h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div class="form-group">
					<table class="table text-center">
						<tr>
							<td>
								<%= button_to t('enrollcourses_management'), enrollcourses_path, method: "get" %>
							</td>

							<td>
								<%= button_to t('back_landing'), root_path, method: "get" %>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- end column  -->

</section>
