<div class="box">
	<div class="box-header">
		<h3 class="box-title"><%= t('coutline_management') %></h3>
	</div>
	<!-- /.box-header -->
	<% if can? :create, Coutline %>
		<div class="box-body table-responsive ">
		<table class="table text-center">
			<tr>
				<th>
					<%= button_to t('New_record'), new_coutline_path, method: :get %>
				</th>
				<th>
					<%= button_to t('Import_records'), import_coutlines_path, method: :get %>
				</th>
			</tr>
		</table>
	</div>
	<% end # if can? :create, Coutline %>


	<div class="box-body table-responsive">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th><%=t('Ccode')%></th>
					<th><%=t('Cname')%></th>
					<th><%=t('Major')%></th>
					<th><%=t('Ctype')%></th>
					<th><%=t('Operations')%></th>
				</tr>
			</thead>

			<tbody>
			<% @coutlines.each do |coutline| %>
				<tr>
				<td><%= coutline.code %></td>
				<td><%= coutline.name %></td>
				<td><%= coutline.major %></td>
				<td><%= coutline.ctype %></td>
				<td>
					<% if can? :show, coutline %>
						<%= link_to t('Show'), coutline %> | 
				<% end %>
					<% if can? :edit, coutline %>
						<%= link_to t('Edit'), edit_coutline_path(coutline) %> | 
				<% end %>
					<% if can? :del, coutline %>
						<%= link_to t('Del'), coutline, method: :delete, data: { confirm: t('del_confirm') } %>
				<% end %>
				</td>
			</tr>
		<% end %>
			</tbody>

			<tfoot>
				<tr>
					<th><%=t('Ccode')%></th>
					<th><%=t('Cname')%></th>
					<th><%=t('Major')%></th>
					<th><%=t('Ctype')%></th>
					<th><%=t('Operations')%></th>
				</tr>
			</tfoot>
		</table>
	</div>
	<!-- /.box-body -->

	<% if can? :create, Coutline %>
		<div class="box-body table-responsive ">
		<table class="table text-center">
			<tr>
				<th>
					<%= button_to t('New_record'), new_coutline_path, method: :get %>
				</th>
				<th>
					<%= button_to t('Import_records'), import_coutlines_path, method: :get %>
				</th>
			</tr>
		</table>
	</div>
	<% end # if can? :create, Coutline %>


</div>
<!-- /.box -->

