
<% if can? :create, :visa %>

	<section class="content">
	<!-- final column -->
	<div class="col-md-12">
		<!-- general form elements -->
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title"><%= t('Import_users')%></h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div class="form-group">
					Message: <%= @message %><br/>
				</div>
				<div class="form-group">
					<% if @success == "false" %>
						导入结果: 系统检测到某些数据有误，请仔细核查后再重新导入！
					<p/>
					Data Import Result : Some errors found ! Please import again after checking !  
				<% else %>
						导入结果: 所有记录已全部成功导入！
					<p/>
					Data Import Result : All records have been imported successfully !  
					<% end # if @report == "false" %>
				</div>
				<div class="form-group">
					<table class='table text-left'>
						<tr>
							<th><%= t('Code') %></th>
							<th colspan='10'><%= t('Error') %></th>
						</tr>
						<% @error.each do |e| %>
							<tr>
							<td><%= e.to_a[0].code %></td>
							<td>
								<ul>
									<% e.to_a[1].to_h.each do |k| %>
										<li><%= k[0] %>: <%= k[1] %></li>
								<% end %>
								</ul>
							</td>
						</tr>
					<% end %>
					</table>
				</div>

			</div>
		</div>
	</div>


	<!-- final column -->
	<div class="col-md-12">
		<!-- general form elements -->
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title"><%= t('Operations')%></h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div class="form-group">
					<table class="table text-center">
						<tr>
							<td>
								<%= button_to t('Back'), import_visas_path, method: "get" %>
							</td>
							<td>
								<%= button_to t('visa_management'), visas_path, method: "get" %>
							</td>

							<td>
								<%= button_to t('back_landing'), root_path, method: "get" %>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- end column  -->


</section>

<% else %>
	<%= t('permission_denied') %>
<% end # if can? :create, :visa %>
