
<section class="content">
	<!-- final column -->
	<div class="col-md-12">
		<!-- general form elements -->
		<%= form_tag imported_visas_path, multipart: true do %>
			<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title"><%= t('visa_management')%></h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div class="form-group">
					<table class="table text-center">
						<tr>
							<td>
								<%= t("select_import_file")%>:
							</td>
							<td>
								<%= file_field_tag :file, required: true %>
							</td>
							<td>
								<%= submit_tag t("Import") %>
							<% end %>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- final column -->
	<div class="col-md-12">
		<!-- general form elements -->
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title"><%= t('csv_example')%></h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div class="form-group">
					<table class="table text-center">
						<tr>
							<td>passport</td>
							<td>due</td>
						</tr>
						<tr>
							<td>G12345678</td>
							<td>2016/09/21</td>
							<td></td>
						</tr>
						<tr>
							<td>G23456789</td>
							<td>2016/09/21</td>
						</tr>
						<tr>
							<td>G34567890</td>
							<td>2016-09-21</td>
						</tr>
						<tr>
							<td>G45678901</td>
							<td>2016-09-21</td>
						</tr>
						<tr>
							<td>.<br>.<br>.</td>
							<td>.<br>.<br>.</td>
						</tr>
						<tr>
							<td><%= t('Passport') %></td>
							<td><%= t('due_date') %></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<ul>
			<li/>Microsoft Office Excel, Open Office Calc 及 Google Docs 等均支持另存为 CSV 文件
			<li/>请保持第一行的栏位和内容固定不变(包括字母大小写)，最后一行为各栏位的数据说明无需添加进文件中
			<li/>日期栏位请严格遵守 年/月/日（yyyy/mm/dd） 或者 年-月-日(yyyy-mm-dd) 的写法
		</ul>
	</div>


	<!-- final column -->
	<div class="col-md-12">
		<!-- general form elements -->
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title"></h3>
			</div>
			<!-- /.box-header -->
			<div class="box-body">
				<div class="form-group">
					<table class="table text-center">
						<tr>
							<td>
								<%= button_to t('visa_management'), visas_path, method: "get" %>
							</td>

							<td>
								<%= button_to t('back_landing'), root_path, method: "get" %>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- end column  -->

</section>
