<div class="box">
	<div class="box-header">
		<h3 class="box-title"><%= t("Admins_management")%></h3>
	</div>

	<% if can? :list, :admins %>

	<%#= render "/users/add_users_table" %>


	<!-- /.box-header -->
	<div class="box-body">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th><%=t('Name')%></th>
					<th><%=t('country')%></th>
					<th><%=t('department')%></th>
					<th><%=t('Operations')%></th>
				</tr>
			</thead>

			<tbody>
			<% @admins.each do |user| %>
				<tr>
				<td><%= user.fname %></td>
				<td><%= user.country %></td>
				<td><%= user.department %></td>
				<td>
					<% if can? :show, user %>
						<%= link_to t('Show'), user %> 
				<% end %>
					<% if can? :edit, user %>
						|<%= link_to t('Edit'), edit_user_path(user) %> 
			<% end %>
					<% if can? :change_password, :admin %>
						|<%= link_to t('change_password'), edit_password_user_path(user) %> 
			<% end %>
					|<% if can? :del, user %>
					<%= link_to t('Del'), user, method: :delete, data: { confirm: t('del_confirm') } %>
				<% end %>
				</td>
			</tr>
		<% end %>
			</tbody>

			<tfoot>
				<tr>
					<th><%=t('Name')%></th>
					<th><%=t('country')%></th>
					<th><%=t('department')%></th>
					<th><%=t('Operations')%></th>
				</tr>
			</tfoot>
		</table>
	</div>
	<!-- /.box-body -->

	<%#= render "/users/add_users_table" %>
	
</div>
<!-- /.box -->

<% end # if can? :list, :admins %>
