
<div class="row">

	<%= link_to staffs_users_path do %>
	<div class="clearfix visible-sm-block"></div>
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-green"><i class="icon ion-group"></i></span>

			<div class="info-box-content">
				<span class="info-box-text"><%= t('staffs_qty')%></span>
				<span class="info-box-number"><%= @users_qty %></span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<!-- /.col -->
	<% end # link_to staffs_users_path do %>

	<!-- fix for small devices only -->
	<%= link_to renew_visas_path do %>
	<div class="clearfix visible-sm-block"></div>
		<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-red"><i class="ion ion-refresh"></i></span>

			<div class="info-box-content">
				<span class="info-box-text"><%= t('sample') %></span>
				<span class="info-box-number"><%= $renews_count %></span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
<% end %>

	<!-- /.col -->
	<div class="clearfix visible-sm-block"></div>
	<div class="col-md-3 col-sm-6 col-xs-12">
		<div class="info-box">
			<span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

			<div class="info-box-content">
				<span class="info-box-text">New Members</span>
				<span class="info-box-number">2,000</span>
			</div>
			<!-- /.info-box-content -->
		</div>
		<!-- /.info-box -->
	</div>
	<!-- /.col -->

</div>
