<div class="box">
	<div class="box-header">
		<h3 class="box-title"><%= t('major_management') %></h3>
	</div>
	<!-- /.box-header -->
	<% if can? :create, Major %>
		<div class="box-body">
		<table class="table text-center">
			<tr>
				<th>
					<%= button_to t('New_record'), new_major_path, method: :get %>
				</th>
			</tr>
		</table>
	</div>
	<% end # if can? :create, Major %>


	<div class="box-body">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th><%=t('index_html')%></th>
					<th><%=t('major_code')%></th>
					<th><%=t('major_ename')%></th>
					<th><%=t('major_name')%></th>
					<th><%=t('Operations')%></th>
				</tr>
			</thead>

			<tbody>
			<% @majors.each_with_index do |major,i| %>
				<tr>
				<td><%= i+1 %></td>
				<td><%= major.code %></td>
				<td><%= major.ename %></td>
				<td><%= major.name %></td>
				<td>
					<% if can? :show, major %>
						<%= link_to t('Show'), major %> | 
				<% end %>
					<% if can? :edit, major %>
						<%= link_to t('Edit'), edit_major_path(major) %> | 
				<% end %>
					<% if can? :del, major %>
						<%= link_to t('Del'), major, method: :delete, data: { confirm: t('del_confirm') } %>
				<% end %>
				</td>
			</tr>
		<% end %>
			</tbody>

			<tfoot>
				<tr>
					<th><%=t('index_html')%></th>
					<th><%=t('major_code')%></th>
					<th><%=t('major_ename')%></th>
					<th><%=t('major_name')%></th>
					<th><%=t('Operations')%></th>
				</tr>
			</tfoot>
		</table>
	</div>
	<!-- /.box-body -->

	<% if can? :create, Major %>
		<div class="box-body">
		<table class="table text-center">
			<tr>
				<th>
					<%= button_to t('New_record'), new_major_path, method: :get %>
				</th>
			</tr>
		</table>
	</div>
	<% end # if can? :create, Major %>


</div>
<!-- /.box -->

