<%= form_for(@cschedule) do |f| %>
	<% if @cschedule.errors.any? %>
	<div id="error_explanation">
	<h2><%= pluralize(@cschedule.errors.count, "error") %> prohibited this user from being saved:</h2>

	<ul>
		<% @cschedule.errors.full_messages.each do |message| %>
			<li><%= message %></li>
	<% end %>
	</ul>
</div>
  <% end %>


<section class="content">
	<div class="row">

		<!-- column -->
		<div class="col-md-6">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title"><%= t('cschedules_management')%></h3>
				</div>
				<!-- /.box-header -->

				<!-- form start -->
				<div class="box-body">
					<div class="form-group">
						<%= f.label t('class_code') %> :
						<%= f.text_field :code, class: 'form-control', required: true %>
					</div>

					<div class="form-group">
						<%= f.label t('cterm_code') %> :
						<%= f.text_field :term_code, class: 'form-control', required: true %>
					</div>

					<div class="form-group">
						<%= f.label t('cc_code') %> :
						<%= f.text_field :c_code, class: 'form-control', required: true %>
					</div>

					<div class="form-group">
						<%= f.label t('clecturer') %> :
						<%= f.text_field :lecturer, class: 'form-control', required: true %>
					</div>

				</div>
				<!-- form end -->
			</div>
		</div>
		<!-- column end -->

		<!-- column -->
		<div class="col-md-6">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title"><%= t('cschedule_time')%></h3>
				</div>
				<!-- /.box-header -->

				<!-- form start -->
				<div class="box-body">
					<div class="form-group">
						<%= f.label t('cweekday') %> :
						<%= f.text_field :weekday, class: 'form-control', required: true %>
						<small>请输入数字 1～5，分别代表周一至周五</small>
					</div>

					<div class="form-group">
						<%= f.label t('cstime') %> :
						<%= f.text_field :stime, class: 'form-control', required: true %>
					</div>

					<div class="form-group">
						<%= f.label t('cetime') %> :
						<%= f.text_field :etime, class: 'form-control', required: true %>
					</div>

					<div class="form-group">
						<%= f.label t('croom') %> :
						<%= f.text_field :room, class: 'form-control', required: true %>
					</div>

				</div>
				<!-- form end -->
			</div>
		</div>
		<!-- column end -->

		<!-- final column -->
		<div class="col-md-12">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title"><%= t('ccredit') %></h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="form-group">
						<%= t('ccredit')%> :
						<%= f.text_field :credit, class: 'form-control' %>
					</div>
				</div>
			</div>
		</div>
		<!-- final column end -->





		<!-- column -->
		<div class="col-md-6">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title"><%= t('cschdeule_scores_ac')%></h3>
				</div>
				<!-- /.box-header -->

				<!-- form start -->
				<div class="box-body">
					<div class="form-group">
						<%= f.label t('catt') %> :
						<%= f.text_field :att, class: 'form-control' %>
					</div>

					<div class="form-group">
						<%= f.label t('chomework') %> :
						<%= f.text_field :homework, class: 'form-control' %>
					</div>

					<div class="form-group">
						<%= f.label t('cproject') %> :
						<%= f.text_field :project, class: 'form-control'%>
					</div>

					<div class="form-group">
						<%= f.label t('creport') %> :
						<%= f.text_field :report, class: 'form-control' %>
					</div>

				</div>
				<!-- form end -->

			</div>
		</div>
		<!-- column end -->


		<!-- column -->
		<div class="col-md-6">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title"><%= t('cschdeule_scores_exam')%></h3>
				</div>
				<!-- /.box-header -->

				<!-- form start -->
				<div class="box-body">
					<div class="form-group">
						<%= f.label t('cquiz') %> :
						<%= f.text_field :quiz, class: 'form-control' %>
					</div>

					<div class="form-group">
						<%= f.label t('cmid') %> :
						<%= f.text_field :mid, class: 'form-control' %>
					</div>

					<div class="form-group">
						<%= f.label t('cfin') %> :
						<%= f.text_field :fin, class: 'form-control' %>
					</div>

					<div class="form-group">
						<%= f.label t('cother') %> :
						<%= f.text_field :other, class: 'form-control' %>
					</div>

				</div>
				<!-- form end -->

			</div>
		</div>
		<!-- column end -->


		<!-- final column -->
		<div class="col-md-12">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title"><%= t('Remark')%></h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="form-group">
						<%= f.text_area :remark, class: 'form-control' %>
					</div>
				</div>
			</div>
		</div>
		<!-- final column end -->




		<!-- final column -->
		<div class="col-md-12">
			<!-- general form elements -->
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title"><%= t('Operations')%></h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<div class="form-group">
						<table class="table text-center">
							<tr>
								<td>
									<%= f.submit t('Submit') %>
								<% end %>
								</td>
								<td>
									<%= button_to t('cschedules_management'), cschedules_path, method: "get" %>
								</td>
								<td>
									<%= button_to t('back_landing'), root_path, method: "get" %>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- final column end -->


	</div>

</div><!-- end class row -->
	</section>

