<div class="box">
	<div class="box-header">
		<h3 class="box-title"><%= t('cschedules_management') %></h3>
	</div>
	<!-- /.box-header -->
	<% if can? :create, Cschedule %>
		<div class="box-body">
		<table class="table text-center">
			<tr>
				<th>
					<%= button_to t('New_record'), new_cschedule_path, method: :get %>
				</th>
				<th>
					<%= button_to t('Import_records'), import_cschedules_path, method: :get %>
				</th>
			</tr>
		</table>
	</div>
	<% end # if can? :create, Cschedule %>


	<div class="box-body">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th><%=t('index_html')%></th>
					<th><%=t('class_code')%></th>
					<th><%=t('Cname')%></th>
					<th><%=t('croom')%></th>
					<th><%=t('clecturer')%></th>
					<th><%=t('cweekday')%></th>
					<th><%=t('cstime')%></th>
					<th><%=t('Operations')%></th>
				</tr>
			</thead>

			<tbody>
			<% @cschedules.each_with_index do |cschedule,i| %>
				<tr>
				<td><%= i+1 %></td>
				<td><%= cschedule.code %></td>
				<td><%= cschedule.coutline.name rescue nil %></td>
				<td><%= cschedule.room %></td>
				<td><%= cschedule.user.name rescue nil %></td>
				<td>周 <%= cschedule.weekday %></td>
				<td><%= cschedule.stime %> - <%= cschedule.etime %></td>
				<td>
					<% if can? :show, cschedule %>
						<%= link_to t('Show'), cschedule %> | 
				<% end %>
					<% if can? :edit, cschedule %>
						<%= link_to t('Edit'), edit_cschedule_path(cschedule) %> | 
				<% end %>
					<% if can? :del, cschedule %>
						<%= link_to t('Del'), cschedule, method: :delete, data: { confirm: t('del_confirm') } %>
				<% end %>
				</td>
			</tr>
		<% end %>
			</tbody>

			<tfoot>
				<tr>
					<th><%=t('index_html')%></th>
					<th><%=t('class_code')%></th>
					<th><%=t('Cname')%></th>
					<th><%=t('croom')%></th>
					<th><%=t('clecturer')%></th>
					<th><%=t('cweekday')%></th>
					<th><%=t('cstime')%></th>
					<th><%=t('Operations')%></th>
				</tr>
			</tfoot>
		</table>
	</div>
	<!-- /.box-body -->

	<% if can? :create, Cschedule %>
		<div class="box-body">
		<table class="table text-center">
			<tr>
				<th>
					<%= button_to t('New_record'), new_cschedule_path, method: :get %>
				</th>
				<th>
					<%= button_to t('Import_records'), import_cschedules_path, method: :get %>
				</th>
			</tr>
		</table>
	</div>
	<% end # if can? :create, Cschedules %>


</div>
<!-- /.box -->

