
<% if can? :list, :coutline %>

	<li class="treeview">
<a href="#">
	<i class="fa fa-television"></i><span><%= t("coutline_management") %></span> <i class="fa fa-angle-left pull-right"></i>
</a>
<ul class="treeview-menu">
	<li>
	<%= link_to coutlines_path do %>
		<i class="fa fa-list"></i><%= t("coutline_management") %>
<% end %>
	</li>
	<% if can? :manage, :coutline %>
		<li>
	<%= link_to new_coutline_path do %>
		<i class="fa fa-plus"></i><%= t('New_record') %>
<% end %>
	</li>
	<li>
	<%= link_to import_coutlines_path do %>
		<i class="fa fa-plus-square"></i><%= t('Import_records') %>
<% end %>
	</li>

	<% end # if can? :manage, :coutline %>
</ul>
</li>

<% end # if can? :list, :coutline %>

