
<% if can? :list, :enrollcourses %>

	<li class="treeview">
<a href="#">
	<i class="fa fa-check-square-o"></i><span><%= t("enrollcourses_management") %></span>
	<i class="fa fa-angle-left pull-right"></i>
	<small class="label pull-right bg-red"><%#= $renews_count %></small>
</a>
<ul class="treeview-menu">

	<li>
	<%= link_to enrollcourses_path do %>
		<i class="fa fa-list"></i><%= t("enrollcourses_management") %>
<% end %>
	</li>

	<li>
	<%= link_to multi_enrollcourses_path do %>
		<i class="fa fa-list-alt"></i><%= t('multi_enrollcourses') %>
	<% end %>
	</li>

	<% if can? :manage, :enrollcourses %>
		<li>
	<%= link_to new_enrollcourse_path do %>
		<i class="fa fa-plus"></i><%= t('New_record') %>
<% end %>
	</li>

	<li>
	<%= link_to import_enrollcourses_path do %>
		<i class="fa fa-plus-square"></i><%= t('Import_records') %>
<% end %>
	</li>

	<% end # if can? :manage, :enrollcourses %>

</ul>
</li>

<% end # if can? :list, :visas %>

