
<% if can? :list, :staff %>
	<li class="treeview">
		<a href="#">
			<i class="fa fa-users"></i>
			<span><%= t("Users_management") %></span>
			<i class="fa fa-angle-left pull-right"></i>
		</a>

		<ul class="treeview-menu">

			<!-- Staffs Management -->
			<% if can? :list, :staff %>
				<li>
					<%= link_to staffs_users_path do %>
						<i class="fa fa-graduation-cap"></i><%= t("Staff_management") %>
					<% end # link_to students_users_path do %>
						
					</li>
					<% end #can mng staffs %>

					<!-- Admins Management -->
					<% if can? :list, :admins %>
						<li>
							<%= link_to admins_users_path do %>
								<i class="fa fa-user-md"></i>
							<%= t("admins_management") %>
							<% end # link_to admins_users_path do %>
						</li>
						<% end # if can? :manage, :admins %>

						<!-- CSV Import Users -->
						<% if can? :import, :users %>
							<li>
								<%= link_to import_users_path do %>
									<i class="fa fa-user-plus"></i> <%= t("Import_users") %>
								<% end # link_to import_users_path do %>
								</li>
								<% end # if can? :import, :users %>
		</ul>
	</li>

	<% end # if can? :list, :staffs %>

