
<% if can? :list, :ustatus %>

	<li class="treeview">

<a href="#">
	<i class="fa fa-book"></i><span><%= t("ustatus_management") %></span> <i class="fa fa-angle-left pull-right"></i>
</a>

<ul class="treeview-menu">

	<li>
	<%= link_to ustatuses_path do %>
		<i class="fa fa-book"></i><%= t("ustatus_management") %>
<% end %>
	</li>

	<% if can? :manage, :ustatus %>

		<li>
	<%= link_to new_ustatus_path do %>
		<i class="fa fa-calendar-plus-o"></i><%= t('New_record') %>
<% end %>
	</li>

	<li>
	<%= link_to import_ustatuses_path do %>
		<i class="fa fa-calendar"></i><%= t('Import_records') %>
<% end %>
	</li>

	<% end # if can? :manage, :ustatus %>

</ul>
</li>

<% end # if can? :list, :ustatus %>

