<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title><%= $site_title %></title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- Bootstrap 3.3.6 -->
<link rel="stylesheet" href="/src/bootstrap/css/bootstrap.min.css">
<!-- Font Awesome -->
<%= stylesheet_link_tag 'application' %>
<!-- Ionicons -->
<link rel="stylesheet" href="/src/icon/ionicons.min.css">
<!-- DataTables -->
<link rel="stylesheet" href="/src/plugins/datatables/dataTables.bootstrap.css">
<!-- Theme style -->
<link rel="stylesheet" href="/src/dist/css/AdminLTE.min.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
	   folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="/src/dist/css/skins/skin-blue.min.css">
<link rel="stylesheet" href="/src/plugins/datepicker/datepicker3.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="/src/ie/html5shiv.min.js"></script>
  <script src="/src/ie/respond.min.js"></script>
  <![endif]-->

<%= csrf_meta_tags %>

</head>

<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

	<%= render "layouts/parts/header"%>


	<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar">

		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">

			<!-- Sidebar user panel -->

			<%= render "layouts/parts/sidebar_user_panel"%>


			<!-- search form -->
			<%#= render "layouts/parts/search_form"%>
			<!-- /.search form -->

			<!-- sidebar menu: : style can be found in sidebar.less -->
			<%= render "layouts/parts/sidebar_menu"%>

		</section>
		<!-- /.sidebar -->
	</aside>

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">

		<!-- Content Header (Page header) -->
		<%= render "layouts/parts/page_header" %>

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-xs-12">


					<%= yield %>	


				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->
	<%= render "layouts/parts/footer" %>


	<%= render "layouts/parts/control_sidebar" %>


</div>

<!-- jQuery 2.2.0 --> 
<!-- script src="/src/plugins/jQuery/jQuery-2.2.0.min.js"></script -->
<%= javascript_include_tag "application" %>

<!-- Bootstrap 3.3.6 -->
<script src="/src/bootstrap/js/bootstrap.min.js"></script>
<script src="/src/plugins/datepicker/bootstrap-datepicker.js"></script>
<!-- DataTables -->
<script src="/src/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/src/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/src/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/src/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/src/dist/js/app.min.js"></script>
<!-- page script -->
<script>
$(function () {


		$("#sdate").datepicker({
			"autoclose": true,
			}).on('changeDate', function (selected) {
				var startDate = new Date(selected.date.valueOf());
				$('#edate').datepicker('setStartDate', startDate);
				}).on('clearDate', function (selected) {
					$('#edate').datepicker('setStartDate', null);
					});

		$("#edate").datepicker({
			"autoclose": true,
			}).on('changeDate', function (selected) {
				var endDate = new Date(selected.date.valueOf());
				$('#sdate').datepicker('setEndDate', endDate);
				}).on('clearDate', function (selected) {
					$('#sdate').datepicker('setEndDate', null);
					});


		//Date picker
		$('#datepicker').datepicker({
				"autoclose": true
				});

		//Table style
		$("#example1").DataTable();
		$('#example2').DataTable({
				"paging": true,
				"lengthChange": false,
				"searching": false,
				"ordering": true,
				"info": true,
				"autoWidth": false
				});

});

</script>
</body>
</html>
