<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title><%= $site_title %></title>
<!-- Tell the browser to be responsive to screen width -->
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- Bootstrap 3.3.6 -->
<link rel="stylesheet" href="/src/bootstrap/css/bootstrap.min.css">
<!-- Font Awesome -->
<%= stylesheet_link_tag 'application' %>
<!-- Ionicons -->
<link rel="stylesheet" href="/src/icon/ionicons.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/src/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="/src/dist/css/skins/skin-blue.min.css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="/src/ie/html5shiv.min.js"></script>
  <script src="/src/ie/respond.min.js"></script>
  <![endif]-->
<%= csrf_meta_tags %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

	<%= render "layouts/parts/header"%>

	<!-- Left side column. contains the logo and sidebar -->
	<aside class="main-sidebar">

		<!-- sidebar: style can be found in sidebar.less -->
		<section class="sidebar">

			<!-- Sidebar user panel (optional) -->
			<%= render "layouts/parts/sidebar_user_panel"%>

			<!-- search form (Optional) -->
			<%= render "layouts/parts/search_form"%>
			<!-- /.search form -->

			<!-- Sidebar Menu -->
			<%= render "layouts/parts/sidebar_menu"%>
			<!-- /.sidebar-menu -->
		</section>
		<!-- /.sidebar -->
	</aside>

	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">

		<!-- Content Header (Page header) -->
		<%= render "layouts/parts/page_header" %>


		<!-- Main content -->
		<section class="content">

			<!-- Your Page Content Here -->

			<p id="notice"><%= notice %></p>

			<%= yield %>

		</section>
		<!-- /.content -->
	</div>
	<!-- /.content-wrapper -->

	<!-- Main Footer -->
	<%= render "layouts/parts/footer" %>

	<!-- Control Sidebar -->
	<%= render "layouts/parts/control_sidebar" %>

</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<!-- jQuery 2.2.0 --> 
<!-- script src="src/plugins/jQuery/jQuery-2.2.0.min.js"></script -->
<%= javascript_include_tag "application" %>

<!-- Bootstrap 3.3.6 -->
<script src="/src/bootstrap/js/bootstrap.min.js"></script>

<!-- AdminLTE App -->
<script src="/src/dist/js/app.min.js"></script>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
	 Both of these plugins are recommended to enhance the
	 user experience. Slimscroll is required when using the
	 fixed layout. -->
</body>
</html>
